src
test
tsconfig.json
tsconfig.module.json
tslint.json
.travis.yml
.github
.prettierignore
build/docs
**/*.spec.*
coverage
.nyc_output
*.log
.vscode
.circleci
examples
scripts
**/__tests__
**/__mocks__