**/__mocks__
**/__tests__
.circleci
.commit-msg
.github
.prettierignore
.travis.yml
.vscode
build
coverage
docs
examples
scripts
src
test
tsconfig.json
tsconfig.spec.json
tsconfig.module.json
tslint.json
**/*.spec.*
*.emit
*.env
.nyc_output
*.log
.editorconfig
Queries.md
